<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="{{ note.properties.description }}">
    <title>{{ note.properties.title }} | post-notes</title>
    <meta name="description" content="{{ note.properties.description}}">

   <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🦕</text></svg>">
 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Tim-Raphael/default_styles/css/styles.css">
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/Tim-Raphael/default_styles/css/helpers.css">
</head>

<body>
    <main>
        <aside>
        {% include "partials/navigation.html" %}
        </aside>

        <article>
            <span>{{ note.file_name }}</span>

            <div>
                <p>
                    <span>
                        <br>
                        * created: {{ note.properties.created }}
                        <br>
                        {% if note.properties.modified %} 
                        * modified: {{ note.properties.modified }}
                        <br>
                        {% endif %}
                    </span>
                </p>

                <span>title</span><br>
                <p>{{ note.properties.title }}</p>

                <span>description</span><br>
                <p>{{ note.properties.description }}</p>

                {% if note.internal_links | length > 0 %}
                <span>related notes</span><br>
                <ul>
                    {% for link in note.internal_links %}
                    <li>
                        <a href="./{{ link }}">{{ link }}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            {{ note.html_content | safe }}
        </article>

    </main>

    {% include "partials/footer.html" %}

    {% include "partials/search.html" %}
    {% include "partials/controls.html" %}
    {% include "partials/math-syntax.html" %}
    {% include "partials/link-preview.html" %}
</body>

</html>
